@model Entity.Concrete.Comment
<br/>
<br/>

<h4>Leave a Comment</h4>
<div class="comment-bottom">
    @using (Html.BeginForm("PartialAddComment", "Comment", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.HiddenFor(model => model.BlogId) <!-- Hidden input field for BlogId -->
            @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", id = "txtUsername", placeholder = "Your username..." })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(model => model.Title, new { @class = "form-control", id = "txtTitle", placeholder = "Your title..." })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control", id = "txtContent", rows = "3", placeholder = "Your comment..." })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>

        <div class="form-group" id="rating">
            <label for="ratingValue">Rate this blog:</label>
            <br>
            <input type="radio" name="BlogRating" value="1" id="rating1">
            <label for="rating1">★</label>

            <input type="radio" name="BlogRating" value="2" id="rating2">
            <label for="rating2">★★</label>

            <input type="radio" name="BlogRating" value="3" id="rating3">
            <label for="rating3">★★★</label>

            <input type="radio" name="BlogRating" value="4" id="rating4">
            <label for="rating4">★★★★</label>

            <input type="radio" name="BlogRating" value="5" id="rating5">
            <label for="rating5">★★★★★</label>
        </div>

        <button type="submit" class="btn btn-success">Submit</button>
    }
</div>
