@model System.Collections.Generic.List<Entity.Concrete.Message2>

@{
    ViewBag.Title = "Inbox";
    Layout = "/Views/Writer/WriterLayout.cshtml";
}
<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
<!-- JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Writers Blog Table</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> # </th>
                    <th> Content </th>
                    <th> ReceiverName </th>
                    <th> Date </th>
                    <th> Read </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="py-1">
                            <img src="@item.ReceiverWriter.ImageUrl" alt="image"/>
                        </td>
                        <td> @item.Subject </td>
                        <td> @item.ReceiverWriter.Name</td>
                        <td> @item.ReceiverWriter.Email</td>
                        <td> @item.Date.ToString("dd/MM/yyyy") </td>
                        <td>
                            <a href="/Message/ReadMessage/@item.Id" class="btn btn-warning btn-sm">
                                <i class="fas fa-edit"></i> Read
                            </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>