@model List<Entity.Concrete.Blog>

@{
    ViewBag.Title = "title";
    Layout = "_AdminLayout";
}

<!DOCTYPE html>
<html>

<body>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-content product-box">

                        <div class="product-imitation">
                            <image src="@item.ImageUrl" height="300" width="300" />
                        </div>
                        <div class="product-desc">
                            <span class="product-price">
                                @(((DateTime)item.CreatedAt).ToString("dd-MMM-yyyy"))
                            </span>
                            <small class="text-muted">@item.Category.Name</small>
                            <a href="#" class="product-name">@item.Title</a>

                            <div class="small m-t-xs">
                                @{
                                    string truncatedContent = item.Content.Length > 130 ? item.Content.Substring(0, 130) + "..." : item.Content;
                                }
                                <p>@truncatedContent</p>
                            </div>
                            <div class="m-t text-righ">

                                <a href="/Blog/Details/@item.Id" class="btn btn-xs btn-outline btn-primary">Details <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

</body>

</html>

