@using Entity.Concrete
@model List<Blog>

<div class="row">
  <div class="col-12 grid-margin">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Last Blogs</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th> # </th>
              <th> Title </th>
              <th> Status </th>
              <th> Category </th>
              <th> Last Update </th>
              <th> Details </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
              <tr>
                <td>
                  <img src="@item.ImageUrl" class="mr-2" alt="image"> 
                </td>
                <td>@item.Title</td>
                <td style="color: @(item.Status ? "green" : "red");">
                  @if (item.Status)
                  {
                    @Html.Raw("Active")
                  }
                  else
                  {
                    @Html.Raw("Inactive")
                  }
                </td>
                <td>
                  <label class="badge category-badge">@item.Category.Name</label>
                </td>
                <td> @(((DateTime)item.CreatedAt).ToString("dd-MMM-yyyy")) </td>
                <td> <a href="/Blog/Details/@item.Id" class="btn btn-dark"><i class="mdi mdi-arrow-right"></i> Details</a></td>
              </tr>
            }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
    const categoryBadges = document.querySelectorAll('.category-badge');

    function getRandomColor() {
        const letters = '0123456789ABCDEF';
        let color = '#';
        for (let i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    categoryBadges.forEach(function (badge) {
        const randomColor = getRandomColor();
        badge.style.backgroundColor = randomColor;
        badge.style.color = "white"; 
    });
</script>